body {background-color: lightblue;}
.name-title {color: red;text-align: center;}
h1 {text-align: center; font-size: 45px;}
<<<<<<< HEAD
img {border-radius: 20px; height: 300px;width: 300px;display: block;margin-left: auto; margin-right: auto; }
.work-schedule h3{color: red;}
.work-schedule li{color: blue}
.bodybuilding-schedule h3 {color:red}
.bodybuilding-schedule li {color:blue}
